body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #d9d3c6;
}

* {
  box-sizing: border-box;
  color: #2F362F;
}

#root {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 30px;
}

.outline {
  width: max(90vw, min(90vw, 300px));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.outline h2 {
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  backdrop-filter: blur(15px);
  width: 100%;
  max-width: 100vh;
  border-radius: 0px 0px 3px 3px;
}

.outlineImg {
  width: 100%;
  max-width: 100vh;
  border-radius: 3px;
}

.container {
  display: flex;
  flex-direction: column;
}

.emptySpace {
  width: 100%;
  height: 50px;
}

footer {
  width: 100vw;
  text-align: center;
  margin-top: auto;
  font-size: large;
}

.footerSpace {
  background-color: #2F362F;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.footerLink {
  display: flex;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  width: fit-content;
}

.footerLink * {
  color: #d9d3c6;
}

.footerCopywrite {
  display: inline-block;
  transition: transform 0.6s ease;
}

.footerName {
  transition: text-decoration 0.2s ease;
}

.footerLink:hover .footerCopywrite,
.footerLink:focus-visible .footerCopywrite {
  transform: rotate(360deg);
}

.footerLink:hover .footerName,
.footerLink:focus-visible .footerName {
  text-decoration: underline;
}