header {
  width: 100vw;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  background-color: #788978;
  font-size: large;
}

header nav * {
  margin: 0;
  padding: 0;
}

.links {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.link {
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #2F362F;
  padding: 5px 3px;
  color: #d9d3c6;
  font-size: larger;
}

.link:hover,
.link:focus {
  box-shadow: inset 0 -2px 0 #d9d3c6;
  cursor: pointer;
}

.username {
  color: #d9d3c6;
}